<h1 class="box-content-detail--header"><%= product.name %></h1>
<div class="box-content-detail-product">
    <img src="/assets/images/<%= product.image %>" width="305" height="277" alt="">
    <div class="box-content-detail-product--text">
        <div class="row">
            <div class="box-detail--text">
                <span class="box-detail--text--header">Name</span>
                <p class="box-detail--text--header-content"><%= product.name %></p>
            </div>
            <div class="box-detail--text">
                <span class="box-detail--text--header">Cost</span>
                <p class="box-detail--text--header-content">$<%= product.price %></p>
            </div>
        </div>
        <div class="row">
            <div class="box-detail--text">
                <span class="box-detail--text--header">Description</span>
                <p class="box-detail--text--header-content"><%= product.description %></p>
            </div>
        </div>
    </div>
</div>
<div class="box-content-detail-product--button">
    <button class="detail-delete" id="deleteProductButton">DELETE PRODUCT</button>
    <a href="/admin/products/update/<%= product._id %>"><button class="detail-update">UPDATE PRODUCT
            INFORMATION</button></a>
</div>
<script>
    $(document).ready(function () {
        $('#deleteProductButton').click(function (event) {
            event.preventDefault();
            const productId = '<%= product._id %>';

            if (confirm('Are you sure you want to delete this product?')) {
                $.ajax({
                    url: '/admin/products/delete/' + productId,
                    method: 'DELETE',
                    success: function (response) {
                        // Redirect to product list on success
                        loadContent('/admin/products');
                    },
                    error: function (error) {
                        // Display error message
                        $('#message').html('<p class="error-message">' + error.responseJSON.error + '</p>');
                    }
                });
            }
        });
    });
</script>