<div class="box-content-product">
    <div class="box-content-product">
        <div class="box-content-product-temp">
            <button id="sortButton">
                SORT <i class="fa-solid fa-arrow-down-wide-short"></i>
            </button>
            <div class="box-content-product-temp-listS hidden" id="dropdownMenu">
                <span class="box-content-product-temp-listS--item">Name</span>
                <span class="box-content-product-temp-listS--item">Price</span>
                <span class="box-content-product-temp-listS--item">Creation time</span>
            </div>
        </div>
        <div class="box-content-product--header">
            <span class="box-content-product--header-name">
                Name
            </span>
            <span class="box-content-product--header-cost">
                Cost
            </span>
            <span class="box-content-product--header-date">
                Creation time
            </span>
        </div>
        <ul class="box-content-product--list">
            <% products.forEach(product => { %>
                <li class="box-content-product--item">
                    <div class="box-content-product--item-name">
                        <img src="/assets/images/<%= product.image %>" height="36" width="36" alt="">
                        <a href="/admin/products/<%= product._id %>"><%= product.name %></a>
                    </div>

                    <span class="box-content-product--item-cost">
                        $<%= product.price %>
                    </span>
                    <span class="box-content-product--item-date">
                        <%= product.createdAt.toDateString() %>
                    </span>
                </li>
            <% }); %>
        </ul>
        <div class="box-content-product--pagination">
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>"><button>PREV</button></a>
            <% } %>
            <span><%= currentPage %>/<%= totalPages %></span>
            <% if (currentPage < totalPages) { %>
                <a href="?page=<%= currentPage + 1 %>"><button>NEXT</button></a>
            <% } %>
        </div>
    </div>
</div>