<div class="box-content-user">
    <div class="box-content-user-temp"></div>
    <h3 class="box-content-user--header">User</h3>
    <ul class="box-content-user--list">
        <% users.forEach(user => { %>
            <li class="box-content-user--item">
                <img src="/img/avatar.jpg" height="36" width="36" alt="">
                <div class="box-content-user--item-content">
                    <span class="box-content-user--item-email">
                        <%= user.email %>
                    </span>
                    <span class="box-content-user--item-role">
                        Role: <%= user.role %>
                    </span>
                </div>
            </li>
        <% }); %>
    </ul>
    <div class="box-content-user--pagination">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>"><button>PREV</button></a>
        <% } %>
        <span><%= currentPage %>/<%= totalPages %></span>
        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>"><button>NEXT</button></a>
        <% } %>
    </div>
</div>