<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <a href="/products" class="cate">Shop</a>
            <span>></span>
            <a href="/product/<%= product._id %>" class="cate"><%= product.name %></a>
        </div>
        <div class="detailProduct">
            <div class="imageSample">
                <img src="/assets/images/<%= product.image %>" width="400" height="400" alt="">
                <div>
                    <img src="/assets/images/<%= product.image %>" width="47" height="47"alt="">
                    <img src="/assets/images/<%= product.image %>" width="47" height="47" alt="">
                </div>
            </div>
            <div class="infoProduct">
                <span class="nameP"><%= product.name %></span>
                <div class="evalP">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    94 reviews
                </div>
                <span class="costP">$<%= product.price %></span>
                <span class="sku"><strong>SKU</strong> 2DECEARGRET</span>
                <p class="detailP">
                    <%= product.description %>
                </p>
            </div>
            <div class="options">
                <div>
                    <h3>Serving Options</h3>
                    <div class="optionWeight">
                        <% product.servingOptions.forEach(option => { %>
                            <span class="option-span" data-value="<%= option %>">
                                <%= option %>
                            </span>
                        <% }) %>

                    </div>
                </div>
                
                <div class="boxQuantity">
                    <div class="quantity">
                        <span>Quantity</span>
                        <input id="quantity" type="number" value="1" min="1">
                    </div>
                    <button id="cartAdding">ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="relatedProduct">
            <h1>You may also like</h1>
            <ul class="productList">
                <% productList.forEach(product => { %>
                    <li class="product">
                        <a href="/product/<%= product._id %>" class="img"><img src="/assets/images/<%= product.image %>"  width="230" height="230" alt="" class="image"></a>
                        <span class="cost">$<%= product.price %></span>
                        <div class="eval">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            94 reviews
                        </div>
                        <span class="name">
                            <a href="/product/<%= product._id %>"><%= product.name %></a>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    
</div>

<script>

    var optionSelect;

    document.querySelectorAll('.option-span').forEach(span => {
        span.addEventListener('click', () => {
            // Remove 'selected' class from all spans
            document.querySelectorAll('.option-span').forEach(sp => sp.classList.remove('selected'));

            // Add 'selected' class to the clicked span
            span.classList.add('selected');

            optionSelect = span.dataset.value;
        });
    });

    const addProduct = document.getElementById("cartAdding");


    addProduct.addEventListener('click', async() => {
        const quantity = document.getElementById('quantity').value;


        try{
            const response = await fetch('/cart/add-product', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    productId: '<%= product._id %>',
                    quantity: parseInt(quantity),
                    servingOption: optionSelect
                }),
            });

            const result = await response.json();
            if (result.success) {
                const data = await response.json();
                alert(data.message);
                window.location.href = '/cart';
            } else {
                const error = await response.json();
                alert(`Error: ${error.error}`)
            }
        }
        catch (err) {
            console.error('Error:', err);
            alert('An error occurred. Please try again.');
        }
    })
</script>