<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <a href="/" class="cate">Shop</a>
            <span>></span>
            <a href="/product/<%= product._id %>" class="cate"><%= product.name %></a>
        </div>
        <div class="detailProduct">
            <div class="imageSample">
                <img src="/assets/images/<%= product.image %>" width="400" height="400" alt="">
                <div>
                    <img src="/assets/images/<%= product.image %>" width="47" height="47"alt="">
                    <img src="/assets/images/<%= product.image %>" width="47" height="47" alt="">
                </div>
            </div>
            <div class="infoProduct">
                <span class="nameP"><%= product.name %></span>
                <div class="evalP">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    94 reviews
                </div>
                <span class="costP">$<%= product.price %></span>
                <span class="sku"><strong>SKU</strong> 2DECEARGRET</span>
                <p class="detailP">
                    <%= product.description %>
                </p>
            </div>
            <div class="options">
                <div>
                    <h3>Options</h3>
                    <div class="optionWeight">
                        <% product.servingOptions.forEach(option => { %>
                            <span> <%= option %></span>
                        <% }) %>

                    </div>
                </div>
                
                <div class="boxQuantity">
                    <div class="quantity">
                        <span>Quantity</span>
                        <input type="text">
                    </div>
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
        <div class="relatedProduct">
            <h1>You may also like</h1>
            <ul class="productList">
                <% productList.forEach(product => { %>
                    <li class="product">
                        <a href="/product/<%= product._id %>" class="img"><img src="/assets/images/<%= product.image %>"  width="230" height="230" alt="" class="image"></a>
                        <span class="cost">$<%= product.price %></span>
                        <div class="eval">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            94 reviews
                        </div>
                        <span class="name">
                            <a href="/product/<%= product._id %>"><%= product.name %></a>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    
</div>