<div class="container">
    <% if (success_msg) { %>
        <h1 class="d-flex justify-content-center"><span class="badge text-success"><%= success_msg %></span></h1>
      <% } %>
    <div class="slider">
        <div class="slide_box">
            <div class="slide"><a href="/products"><img src="/img/slider1.png" alt=""></a></div>
            <div class="slide"><a href="/products"><img src="/img/slider2.jpg" alt=""></a></div>
            <div class="slide"><a href="/products"><img src="/img/slider3.jpg" alt=""></a></div>
        </div>
        <button class="prev slide-button" onclick="prevSlide()">❮</button>
        <button class="next slide-button" onclick="nextSlide()">❯</button>
    </div>
    <div class="grid">
        <div class="coffeeMenu" style="margin-top: 40px;">
            <h1>View Our Coffee here!</h1>
            <ul class="listM">

                <li>
                    <a href="">
                        <img src="/img/coffee1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/coffee2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/coffee3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/coffee4.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/coffee5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/coffee6.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="tempB1">
                <a href="">
                    <img src="/img/coffee7.png" alt="">
                </a>
                <a href="">
                    <img src="/img/coffee8.png" alt="" style="position: absolute;right: 10px;top: 0;">
                </a>
            </div>
        </div>
        <h2 style="text-align: center; margin: 40px 0 20px 0; color:rgb(112, 96, 77);">Top-Rated Drink Shop</h2>
        <div class="box">
                <% if (topRated && topRated.length > 0) { %>
                    <% topRated.forEach(product => { %>
                    <div class="box-item">
                        <img src="assets/img/<%= product.image %>" class="box-item--image">
                        <span class="box-item--name"><%= product.name %></span>
                        <div class="box-item--eval">
                            <div style="color:#FFB829">
                                <% for (let i = 0; i < product.ratings.averageRating; i++) { %>
                                    <i class="fa-solid fa-star"></i>
                                <% } %>
                            </div>
                            <span style="margin: 5px 0;"><%= product.ratings.totalRatings %> Reviews</span>
                        </div>
                        <span class="box-item--cost">from $<%= product.price %></span>
                    </div>
                    <% }); %> 
                <% } else { %>
                    <p>No top-rated product available at the moment.</p>
                <% } %>

            </div>
            <div class="box-item box-item--last" style="background-color: #A7661B; display: flex; justify-content: center;align-items: center; cursor: pointer; font-family: Domine, serif;">
                <a href="/products"><span style="color: #fff; font-size: 13px">VIEW ALL</span></a>
                <span style="color: #fff; font-size: 21px; margin: 10.5px 0;">Top Rated Coffee</span>
            </div>
        </div>
        <div class="box">
            <div class="box-block box-block--background1">
                <h2 class="box-block--header">
                    Jamaica Blue Mountain Estate Gourmet Coffee
                </h2>
                <p class="box-block--text">
                    100% pure jamaican Coffee
                </p>
                <button class="box-block--button box-block--button--positon1"><a href="">SHOP NOW</a></button>
            </div>
            <div class="box-block box-block--background2">
                <h2 class="box-block--header">
                    Chai tea
                </h2>
                <p class="box-block--text">
                    Spice up your fall with a hot cup of comforting chai.
                </p>
                <button class="box-block--button box-block--button--positon2"><a href="">SHOP NOW</a></button>
            </div>
        </div>
        <h2 style="text-align: center; margin: 40px 0 20px 0; color:rgb(112, 96, 77); margin-top: 340px;">Blog posts</h2>
        <div class="box">
        <div class="box-item">
            <img src="/img/blog1.png" alt="" class="box-item-blog--img">
            <h2 class="box-item-blog--header">Caffeine Content in Tea</h2>
            <p class="box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                Tea The amount of caffeine in your tea depends on...</p>
            <a class="box-item-blog--link">Read now ></a>
            <div class="box-item-blog--time">
                <span class="vertical">January 16, 2023</span>
                <span>Colleen Callahan</span>
            </div>
        </div>
        <div class="box-item">
            <img src="/img/blog2.png" alt="" class="box-item-blog--img">
            <h2 class="box-item-blog--header">Caffeine Content in Tea</h2>
            <p class="box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                Tea The amount of caffeine in your tea depends on...</p>
            <a class="box-item-blog--link">Read now ></a>
            <div class="box-item-blog--time">
                <span class="vertical">January 16, 2023</span>
                <span>Colleen Callahan</span>
            </div>
        </div>
        <div class="box-item">
            <img src="/img/blog3.png" alt="" class="box-item-blog--img">
            <h2 class="box-item-blog--header">Caffeine Content in Tea</h2>
            <p class="box-item-blog--discription">Have you ever wondered how much caffeine is in that cup of tea? 
                Is there really a higher caffeine content in coffee? Let's find out! The Basics of Caffeine in 
                Tea The amount of caffeine in your tea depends on...</p>
            <a class="box-item-blog--link">Read now ></a>
            <div class="box-item-blog--time">
                <span class="vertical">January 16, 2023</span>
                <span>Colleen Callahan</span>
            </div>
        </div>
        </div>
        <a class="blog--link" >See more ></a>
    </div>
    
</div>