<div class="containerP">
    <div class="grid">
        <h1 style="color:#1773B0">AM Coffee Order Info</h1>
        <div class="boxIndoCustomer">
            <h3 class="boxIndoCustomer--header">
                Order Info:
            </h3>
            <span>Name: <%= order.address.first_name %> <%= order.address.last_name %></span>
            <span>Company: <% if (order.address.company) { %>
                <%= order.address.company %>
            <% } else { %>
                None
            <% } %></span>
            <span>Address: <%= order.address.address %></span>
            <span>Apartment: <% if (order.address.company) { %>
                <%= order.address.apartment %>
            <% } else { %>
                None
            <% } %></span>
            <span>Phone: <%= order.address.phone %></span>
            <span>Pending Date: <%= order.shipTime %></span>

        </div>
        <div class="boxListCart-orderItem">
            <ul class="listCart-orderItem">
                    <% products.forEach(product => { %>
                        <li class="itemCart-orderItem">
                            <div class="boxInfoProductC-orderItem">
                                <img src="/assets/images/<%= product.image %>" alt="" width="120px" height="120px">
                                <div class="InfoProductC-orderItem">
                                    <h3><%= product.name %></h3>
                                    <% if (product.servingOption) { %>
                                        <span><strong>Serving Option:</strong> <%= product.servingOption %></span>
                                    <% } %>
                                    <span><strong>Price:</strong> $<%= product.price %></span>
                                </div>
                            </div>

                            <div class="boxInfoCostC-orderItem">
                                <div class="BoxQuantity-orderItem">
                                    <span>Quantity</span>
                                    <span class="qtt-orderItem"><%= product.quantity %></span>
                                </div>
                                <span class="costC-orderItem">$<%= product.totalCost %></span>
                            </div>
                        </li>
                    <% }) %>
            </ul>
        </div>
        <div class="checkout-orderItem">
            <div class="boxInfoCheckout-orderItem">
                <span>Subtotal</span>
                <span class="InfoCost-orderItem">$<%= order.totalPrice %></span>
            </div>
            <a href="/order" style="display: block; text-decoration: none; color: #A7661B; cursor: pointer; font-size: 15px; text-align: center; margin-top: 10px;">Return ></a>
        </div>
    </div>
</div>