<div class="containerP">
    <div class="grid">
        <h1>Profile</h1>
        <div class="BoxInfoName">
            <div class="infoName">
                <span id="displayName"><%= user.first_name %> <%= user.last_name %></span> <!-- SỬA ĐƯỢC-->
                <i class="fa-solid fa-pencil editName" id="editNameButton"></i>
            </div>
            <div class="infoGmail">
                <span style="display: block; color:#707070;margin-bottom: 5px">Email</span>
                <span><%= user.email %>/span> <!--GMAIL KHÔNG SỬA ĐƯỢC-->
            </div>
        </div>
        <div class="boxInfoAddress">
            <div class="infoAddress">
                <span>Address</span> 
            </div>
            <ul class="listAddress">
                <li class="itemAddress">
                    <span>Name: <%= user.address.first_name %> <%= user.address.last_name %></span>
                    <span>Company: <% if (user.address.company) { %>
                        <%= user.address.company %>
                    <% } else { %>
                        None
                    <% } %></span>
                    <span>Address: <%= user.address.address %></span>
                    <span>Apartment: <% if (user.address.apartment) { %>
                        <%= user.address.apartment %>
                    <% } else { %>
                        None
                    <% } %></span>
                    <span>Phone: <%= user.address.phone %></span>
                    <i class="fa-solid fa-pencil editAddress"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
