<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <span>Search results for "<%= search %>"</span>
        </div>
        <div class="formSearch">
            <input type="text" placeholder="What are you looking for?">
            <i class="fa-solid fa-magnifying-glass searchIcon"></i>
        </div>
        <div class="boxPro">
            <ul class="productList">
                <% products.forEach(product => { %>
                    <li class="product">
                        <a href="/product/<%= product._id %>" class="img"><img src="/assets/images/<%= product.image %>"  width="230" height="230" alt="" class="image"></a>
                        <span class="cost">$<%= product.price %></span>
                        <div class="eval">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            94 reviews
                        </div>
                        <span class="name">
                            <a href="/product/<%= product._id %>"><%= product.name %></a>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
