<div class="container">
    <div class="grid">
        <div class="linkNavigation">
            <a href="/" class="cate red">Home</a>
            <span>></span>
            <a href="/" class="cate">Shop</a>
        </div>

        <form class="filter" action="/filter" method="GET">
            <span class="sp1">Sort by</span>
            <div class="dv1">
                <span>Best seling</span>
                <span>*</span>
            </div>
            <select name="filter">
                <option value="best-selling">Best Selling</option>
                <option value="price-low-high">Price: Low to High</option>
                <option value="price-high-low">Price: High to Low</option>
            </select>
            <button type="submit">Filter</button>
        </form>
        
        <div class="boxPro">
            <ul class="productList">
                <% productList.forEach(product => { %>
                    <li class="product">
                        <a href="/product/<%= product._id %>" class="img"><img src="/assets/images/<%= product.image %>"  width="230" height="230" alt="" class="image"></a>
                        <span class="cost">$<%= product.price %></span>
                        <div class="eval">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            94 reviews
                        </div>
                        <span class="name">
                            <a href="/product/<%= product._id %>"><%= product.name %></a>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    
</div>
